<app-header></app-header>
<app-user-list></app-user-list>
<button (click)="getName('noman')">Get Your Name</button>
<button (click)="getName(Default)">Get Your Name</button>
<br/>
<br/>
<input type="text" #box />
<button (click) = "getMyValue(box.value)">Get my Value</button>
<h3>My typed value: {{currentVal}}</h3>
<br/>
<br/>
<h2>Events: </h2>
    <div>
        <input type="text" #box2 [disabled]= "disableedBox" [value]="propertName" />
        <br/>
        <br/>
        <input type="text" #box3  disabled={{disableedBox}}  value={{propertName}} />
        <br/>
        <br/>
        <button (click) = "enableBox()">Enable boxes</button>
        <br />
        <br />
    </div>
<h2>Conditional statements: </h2>
    <div>
        <button (click) = "toogleBLock()">Toggle Block01</button>
        <h3 *ngIf="show else elseBlock01">
            This is if block
        </h3>
        <ng-template #elseBlock01>
            <h3>This is else block</h3>
        </ng-template>

        <br/>
        <button (click) = "toogleBLock2()">Toggle Block02</button>
        <h3 *ngIf="showText=='yes'; then ifBlock2 else elseBlock02"></h3>
        <ng-template #ifBlock2>
            <h3>This is if block2</h3>
        </ng-template>
        <ng-template #elseBlock02>
            <h3>This is else block2</h3>
        </ng-template>

        <br/>
        <ng-template [ngIf]="color=='red'">
            <h3>This is Red Block</h3>
        </ng-template>
        <ng-template [ngIf]="color=='green'">
            <h3>This is Green Block</h3>
        </ng-template>
        <ng-template [ngIf]="color=='blue'">
            <h3>This is Blue Block</h3>
        </ng-template>
    </div>
<h2>Switch Case: </h2>
    <div [ngSwitch] = "myColor">
        <h3 style="color: red;" *ngSwitchCase="'red'">
            Red Color
        </h3>
        <h3 style="color: green;" *ngSwitchCase="'green'">
            Green Color
        </h3>
        <h3 style="color: blue;" *ngSwitchCase="'blue'">
            Blue Color
        </h3>
        <h3 style="color: gray;" *ngSwitchDefault="">
            Gray Color
        </h3>
    </div>

<h2>NG For-Loop: </h2>
    <div>
        <h3 *ngFor="let item of data">
            {{item.name}}
            {{item.age}}

        </h3>

        <table border="1">
            <tr>
                <td>Name</td>
                <td>Age</td>
                <td>Email</td>
            </tr>
            <tr *ngFor="let item of data2">
                <td>{{item.name}}</td>
                <td>{{item.age}}</td>
                <td>{{item.mail}}</td>
            </tr>
        </table>
    </div>

<h2>Working with form: </h2>
<div>
    <form #simpleForm="ngForm" (ngSubmit) = "getFormValues(simpleForm.value)">
        <input type="text" ngModel name='user' placeholder="Enter User Name" />
        <br />
        <input type="text" ngModel name='age' placeholder="Enter User Age" />
        <br />
        <input type="text" ngModel name='address' placeholder="Enter User Address" />
        <br />
        <button>
            Get User Values
        </button>
    </form>
</div>

<h2>Simple Hader And Footer Layout: </h2>


<app-footer></app-footer>
